body {
  background-color: black;
}

#about-me-section {
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

#about-me-section .about-info-div {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(250, 250, 250);
  position: absolute;
  transform: translateY(-100%);
  animation: pageSlideDown 1s cubic-bezier(0.165, 0.64, 0.6, 1) forwards;
}

@keyframes pageSlideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

#about-me-section .about-info-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 100px 10px black;
  overflow: hidden;
}

#about-me-section .about-info-container .about-me-h1 h1 {
  font-size: 90px;
  opacity: 0.8;
  text-align: center;
}

#about-me-section .about-info-container .about-me-h1.animate {
  opacity: 0;
  transform: translateY(-200%);
  animation: aboutMeSlideDown 0.6s cubic-bezier(0.645, 0.045, 0.355, 1) 0.6s
    forwards;
}

#about-me-section .about-info-container .about-A-background {
  width: 100%;
  /* min-height: 100vh; */
  height: 100%;
  position: absolute;
  z-index: -1;
  overflow: hidden;
}

#about-me-section .about-info-container .about-A-background img{
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  object-fit: cover; 
}

#about-me-section .about-info-container .about-A-background.animate {
  opacity: 0;
  transform: translateY(200%);
  animation: aboutASlideUp 0.6s cubic-bezier(0.645, 0.045, 0.355, 1) 0.6s
    forwards;
}


@keyframes aboutMeSlideDown {
  0% {
    opacity: 0;
    transform: translateY(-200%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes aboutASlideUp {
  0% {
    opacity: 0;
    transform: translateY(200%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

#about-me-section .scroll-click {
  position: absolute;
  left: 50%;
  bottom: 30px;
  cursor: pointer;
}

#about-me-section .scroll-click i {
  color: rgb(119, 119, 119);
  opacity: 0;
  font-size: 30px;
  animation: scrollUpDown 3s 1s infinite;
}

@keyframes scrollUpDown {
  0% {
    opacity: 0.7;
    transform: translateY(0px);
  }
  50% {
    opacity: 0.3;
    transform: translateY(10px);
  }

  100% {
    opacity: 0.7;
    transform: translateY(0px);
  }
}

#about-me-section .about-info-container.active {
  animation: slideDownAboutInfo 1.5s forwards;
}

@keyframes slideDownAboutInfo {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(150%);
  }
}

#about-me-section .about-details-div {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}

#about-me-section .about-details-div .my-photo-div {
  display: flex;
  position: relative;
  flex-grow: 1;
  max-width: 40%;
  z-index: -1;
  height: 100%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  animation: aboutPhotoAnimate 3s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

#about-me-section .about-details-div .my-photo-div img {
  object-fit: cover;
  min-width: 130%;
  min-height: 130%;
  position: relative;
  bottom: -20%;
}

@keyframes aboutPhotoAnimate {
  0% {
    bottom: -150%;
    left: 25%;
  }
  50% {
    bottom: 0;
    left: 25%;
  }
  100% {
    bottom: 0;
    left: 0;
  }
}

#about-me-section .about-details-div .my-information-div {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-grow: 2;
  overflow: hidden;
  padding-left: 20px;
}

#about-me-section .about-details-div .my-information-div .info-top-heading-div {
  margin-bottom: 10px;
  visibility: hidden;
  animation: topHeadingSlideInRight 1s cubic-bezier(0.075, 0.82, 0.165, 1) 1.5s
    forwards;
}

#about-me-section
  .about-details-div
  .my-information-div
  .info-top-heading-div
  h1 {
  font-weight: 200;
  font-size: 35px;
}

#about-me-section
  .about-details-div
  .my-information-div
  .info-middle-heading-div {
  opacity: 0;
  animation: middleHeadinglightSpeedInRight 0.8s ease-out 1.8s forwards;
}

#about-me-section
  .about-details-div
  .my-information-div
  .info-middle-heading-div
  span {
  font-weight: 500;
  font-size: 49px;
  margin: 5px 5px 5px 0;
  letter-spacing: 1px;
}

#about-me-section
  .about-details-div
  .my-information-div
  .info-lower-heading-div {
  margin-top: 10px;
  opacity: 0;
  animation: lowerHeadingfadeInDown 0.8s linear 2.2s forwards;
}

#about-me-section
  .about-details-div
  .my-information-div
  .info-lower-heading-div
  p {
  margin-bottom: 8px;
  font-size: 18px;
  word-spacing: 3px;
  font-weight: 400;
}

@keyframes topHeadingSlideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
}

@keyframes middleHeadinglightSpeedInRight {
  from {
    transform: translate3d(100%, 0, 0) skewX(-50deg);
    opacity: 0;
  }

  60% {
    transform: skewX(30deg);
    opacity: 1;
  }

  80% {
    transform: skewX(-10deg);
  }

  to {
    transform: translate3d(0, 0, 0), skewX(0deg);

    opacity: 1;
  }
}

@keyframes lowerHeadingfadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -40%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@media screen and (max-width: 850px) {
  #about-me-section .about-details-div .my-photo-div {
    display: none;
  }
}
