:root {
  --navbarColor: white;
}

/* Intro Section */
#intro-section {
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

/* Background Image section */
#intro-section .background-image {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

#intro-section .background-image img.original {
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

/* Intro section complete window */
#intro-section .container {
  width: 100%;
  height: 100%;
}

#intro-section .container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
}

/* Intro section info container */
#intro-section .container .info-container {
  position: relative;
  padding-top: 120px;
  padding-bottom: 40px;
  width: 93%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--navbarColor);
  margin-left: 5%;
  margin-right: 5%;
}

#intro-section .container .info-container .Hello-div {
  margin-top: -4%;
  margin-bottom: 15px;
}

#intro-section .container .info-container .Hello-div h1 {
  position: relative;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-weight: 500;
  animation: helloMove 0.7s linear forwards;
}

#intro-section .container .info-container .my-info-div span {
  position: relative;
  opacity: 0;
  font-size: 60px;
  margin-right: 20px;
  font-weight: 900;
  animation: infoMove 1s ease-in-out forwards;
}

#intro-section .container .info-container .my-info-div span:nth-child(1) {
  animation-delay: 0.5s;
}

#intro-section .container .info-container .my-info-div span:nth-child(2) {
  animation-delay: 0.9s;
}

#intro-section .container .info-container .my-info-div span:nth-child(3) {
  animation-delay: 1.3s;
}

#intro-section .container .info-container .my-info-div span:nth-child(4) {
  animation-delay: 1.7s;
}

#intro-section .container .info-container .quality-div {
  margin-top: 20px;
  opacity: 0;
  animation: fadeInDown 1s ease-in-out 2s forwards;
}

#intro-section .container .info-container .quality-div p {
  font-size: 20px;
  text-transform: uppercase;
}

#intro-section .container .info-container .extra-div {
  margin-top: 30px;
  display: flex;
  align-items: center;
}

#intro-section .container .info-container .extra-div span {
  /* margin-left: 25px; */
  margin-right: 50px;
}

#intro-section .container .info-container .extra-div span hr {
  width: 8px;
  height: 8px;
  background-color: var(--navbarColor);
  border: 1px solid var(--navbarColor);
  border-radius: 50%;
  opacity: 0;
  animation: slideInRight 1s ease-in-out forwards;
}

#intro-section .container .info-container .extra-div span:nth-child(1) hr {
  animation-delay: 2.5s;
}
#intro-section .container .info-container .extra-div span:nth-child(2) hr {
  animation-delay: 2.9s;
}
#intro-section .container .info-container .extra-div span:nth-child(3) hr {
  animation-delay: 3.4s;
}
#intro-section .container .info-container .extra-div span:nth-child(4) hr {
  animation-delay: 3.8s;
}

@keyframes helloMove {
  0% {
    opacity: 0;
    left: 15%;
  }
  100% {
    opacity: 1;
    left: 0%;
  }
}

@keyframes infoMove {
  0% {
    font-size: 60px;
    opacity: 0;
  }
  50% {
    font-size: 70px;
    opacity: 0.5;
  }
  100% {
    font-size: 60px;
    opacity: 1;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    transform: translate3d(500%, 0, 0);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@media screen and (max-width: 550px){
  #intro-section .container .info-container .Hello-div h1 {
    font-size: 17px;
  }

  #intro-section .container .info-container .my-info-div span {
    font-size: 50px;
    margin-right: 10px;
    font-weight: 700;
  }

  #intro-section .container .info-container .quality-div p {
    font-size: 18px;
  }

  #intro-section .container .info-container .extra-div span hr {
    height: 7px;
    width: 7px;
  }

  @keyframes infoMove {
    0% {
      font-size: 50px;
      opacity: 0;
    }
    50% {
      font-size: 60px;
      opacity: 0.5;
    }
    100% {
      font-size: 50px;
      opacity: 1;
    }
  }
}