* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

/* Intro Section */

#login-intro-section {
    width: 100%;
    height: 100%;
}
#login-intro-section .login-background {
    width: 100%;
    height: 100%;
    background-color: #091921;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-intro-section .login-background h1 {
    font-size: 60px;
    color: white;
}

#login-intro-section .login-background h1.zoomOut {
    animation: zoomOut 1.5s ease-in-out 1 forwards;
}

#login-intro-section .login-background h1.zoomIn {
    animation: zoomIn 1.5s ease-in-out 1 forwards;
}

.invisible {
    display: none !important;
}


@keyframes zoomOut {
    0% {
        font-size: 60px;
    }
    100% {
        font-size: 40px;
    }
}

@keyframes zoomIn {
    0% {
        font-size: 40px;
    }
    100% {
        font-size: 60px;
    }
}

#login-intro-section.page-transition {
    position: absolute;
    z-index: 1;
    animation: fadeInPage 1.5s ease-in-out    forwards;
}

@keyframes fadeInPage {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    40% {
        transform: scale(0.7);
        opacity: 0;
    }
    100% {
        z-index: -5;
    }
}

@media screen and (max-width: 550px) {
    #login-intro-section .login-background h1 {
        font-size: 40px;
    }
    @keyframes zoomOut {
        0% {
            font-size: 40px;
        }
        100% {
            font-size: 30px;
        }
    }
    
    @keyframes zoomIn {
        0% {
            font-size: 30px;
        }
        100% {
            font-size: 40px;
        }
    }
}